<div class="row">
    <div class="col-md-4 bg-success">
        <h2>Successful in last 24h</h2>
        <h3>{{ stat.successful24h }}</h3>
    </div>
    <div class="col-md-4 bg-primary">
        <h2>Currently running</h2>
        <h3>{{ stat.failedPermanently24h }}</h3>
    </div>
    <div class="col-md-4 bg-danger">
        <h2>Failed in last 24h</h2>
        <h3>{{ stat.currentlyRunning }}</h3>
    </div>
</div>

<div class="pckg-queue-table">
    {% verbatim %}
    <script type="text/x-template" id="pckg-queue-table">
        <h3>{{ table }} ({{ queues.length }})</h3>
        <table class="table table-condensed table-stripped" v-if="queues.length">
            <tr>
                <th>ID</th>
                <th>Created at</th>
                <th>Execute at</th>
                <th>Started at</th>
                <th>Finished at</th>
                <th>Log</th>
                <th>Command</th>
                <th>Status</th>
            </tr>
                <tr v-for="queue in queues" v-bind:class="getClass(queue)">
                    <td>{{ queue.id }}</td>
                    <td>{{ queue.created_at }}</td>
                    <td>{{ queue.execute_at }}</td>
                    <td>{{ queue.started_at }}</td>
                    <td>{{ queue.finished_at }}</td>
                    <td v-bind:title="queue.log">{{ queue.shortLog }}</td>
                    <td v-bind:title="queue.command">{{ queue.shortCommand }}</td>
                    <td>{{ queue.executions }} / {{ queue.retries }} / {{ queue.progress }}% / {{ queue.status }}</td>
                </tr>
                <template v-if="queue.logs">
                    <tr v-for="log in queue.logs">
                        <td>{{ log.id }}</td>
                        <td>{{ log.datetime }}</td>
                        <td>{{ log.log }}</td>
                        <td>{{ queue.progress }}% / {{ log.status }}</td>
                    </tr>
                </template>
        </table>
        <p v-else>No jobs, no working =)</p>
    </script>
    {% endverbatim %}
    <script type="text/javascript">
        var data = data || {};
        data.currentQueue = {{ currentQueue.toJSON() | raw }};
        data.nextQueue = {{ nextQueue.toJSON() | raw }};
        data.prevQueue = {{ prevQueue.toJSON() | raw }};
    </script>

    <pckg-queue-table :url="'/dev.php/ajax/jobs/current'" :table="'Current jobs'" :queues="currentQueue"></pckg-queue-table>
    <pckg-queue-table :url="'/dev.php/ajax/jobs/next'" :table="'Next jobs'" :queues="nextQueue"></pckg-queue-table>
    <pckg-queue-table :url="'/dev.php/ajax/jobs/prev'" :table="'Previous jobs'" :queues="prevQueue"></pckg-queue-table>
</div>