<div class="row">
    <div class="col-md-4 bg-success">
        <h2>Successful in last 24h</h2>
        <h3>{{ stat.successful24h }}</h3>
    </div>
    <div class="col-md-4 bg-primary">
        <h2>Currently running</h2>
        <h3>{{ stat.failedPermanently24h }}</h3>
    </div>
    <div class="col-md-4 bg-danger">
        <h2>Failed in last 24h</h2>
        <h3>{{ stat.currentlyRunning }}</h3>
    </div>
</div>

<div class="pckg-queue-table">
    {% verbatim %}
    <script type="text/x-template" id="pckg-queue-table">
        <h3>{{ table }} ({{ queues.length }})</h3>
        <table class="table table-condensed table-stripped" v-if="queues.length">
            <tr>
                <th>ID</th>
                <th>Created at</th>
                <th>Execute at</th>
                <th>Started at</th>
                <th>Finished at</th>
                <th>Log</th>
                <th>Command</th>
                <th>Status</th>
            </tr>
                <tr v-for="queue in queues" v-bind:class="getClass(queue)">
                    <th>{{ queue.id }}</th>
                    <th>{{ queue.created_at }}</th>
                    <th>{{ queue.execute_at }}</th>
                    <th>{{ queue.started_at }}</th>
                    <th>{{ queue.finished_at }}</th>
                    <th>{{ queue.log }}</th>
                    <th>{{ queue.shortCommand }}</th>
                    <th>{{ queue.executions }} / {{ queue.retries }} / {{ queue.progress }}% / {{ queue.status }}</th>
                </tr>
        </table>
        <p v-else>No jobs, no working =)</p>
    </script>
    {% endverbatim %}
    <script type="text/javascript">
        var data = data || {};
        data.currentQueue = {{ currentQueue.toJSON() | raw }};
        data.nextQueue = {{ nextQueue.toJSON() | raw }};
        data.prevQueue = {{ prevQueue.toJSON() | raw }};
    </script>

    <pckg-queue-table :url="'/dev.php/ajax/jobs/current'" :table="'Current jobs'" :queues="currentQueue"></pckg-queue-table>
    <pckg-queue-table :url="'/dev.php/ajax/jobs/future'" :table="'Next jobs'" :queues="nextQueue"></pckg-queue-table>
    <pckg-queue-table :url="'/dev.php/ajax/jobs/past'" :table="'Previous jobs'" :queues="prevQueue"></pckg-queue-table>
</div>