<div class="row">
    <div class="col-md-12">
        <canvas id="myChart" width="5" height="1"
                data-chartjs="{{ chart | json_encode }}"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-3 bg-success">
        <h2>Successful in last 24h</h2>
        <h3>{{ stat.successful24h }}</h3>
    </div>
    <div class="col-md-3 bg-primary">
        <h2>Currently running</h2>
        <h3>{{ stat.currentlyRunning }}</h3>
    </div>
    <div class="col-md-3 bg-danger">
        <h2>Failed permanently in last 24h</h2>
        <h3>{{ stat.failedPermanently24h }}</h3>
    </div>
    <div class="col-md-3 bg-danger">
        <h2>Manual execution</h2>
        <h3>{{ manualQueue.count() }}</h3>
    </div>
</div>

<div class="vue-pckg-queue-table">
    <pckg-queue-table :url="'/queue/ajax/jobs/manual'" :table="'Manual jobs'" :manual="true"></pckg-queue-table>

    <pckg-queue-table :url="'/queue/ajax/jobs/current'" :table="'Current jobs'"></pckg-queue-table>

    <pckg-queue-table :url="'/queue/ajax/jobs/started'" :table="'Started jobs'"></pckg-queue-table>

    <pckg-queue-table :url="'/queue/ajax/jobs/next'" :table="'Next jobs'"></pckg-queue-table>

    <pckg-queue-table :url="'/queue/ajax/jobs/prev'" :table="'Previous jobs'"></pckg-queue-table>
</div>