<script type="text/x-template" id="pckg-queue-table">
    <div>
    <h3>{{ table }} ({{ queues.length }})</h3>
    <table class="table table-condensed table-stripped">
        <tr>
            <th>ID</th>
            <th>Created at</th>
            <th>Execute at</th>
            <th>Started at</th>
            <th>Finished at</th>
            <th>Log</th>
            <th>Command</th>
            <th>Executions</th>
            <th>Retries</th>
            <th>Progress</th>
        </tr>
        <tr v-for="queue in queues">
            <th>{{ queue.id }}</th>
            <th>{{ queue.created_at }}</th>
            <th>{{ queue.execute_at }}</th>
            <th>{{ queue.started_at }}</th>
            <th>{{ queue.finished_at }}</th>
            <th>{{ queue.log }}</th>
            <th>{{ queue.command }}</th>
            <th>{{ queue.executions }}</th>
            <th>{{ queue.retries }}</th>
            <th>{{ queue.progress }}</th>
        </tr>
    </table>
    </div>
</script>